@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Light1.woff");
    font-display: swap;
}
.header__container{
    justify-content: center;
    margin: auto;
    background-image: url("../img/background.png");
    height: 768px;
    background-size: cover;
}
.header__info__container{
    padding-top: 31px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 1028px;
}
.header__info{
    margin-top: 0;
}
.header__link{
    text-decoration: none;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
}
.tittle__container:hover .main__image{
    background-image: url("../img/logo2.png");
    width: 53px;
    height: 47px;
    margin-top: 15px;
}
.tittle__container:hover .main__text{
    color: #F26522;
}

.tittle__container{
    display: flex;
}
.header__link{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;

    color: #FFFFFF;
}
.header__link:hover{
    color: #F26522;
}
.main__image{
    background-image: url("../img/logo.png");
    width: 53px;
    height: 47px;
    margin-top: 15px;
}

.main_tittle{
    margin-left: 8px;
    margin-top: 15px;
    margin-bottom: 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
    text-transform: uppercase;
}
.tittle{
    margin-left: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}
.main__info__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 37px 54px;
    margin: auto;
    width: 1030px;
    position: relative;
}
.main__info__image{

}

.main__info__title{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    width: 300px;
    color: white;
    text-align: center;
}
.main__info__title:hover{
    color: #F26522;
}
.footer__info{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 30px;
}
.info__image{
    border: solid white 3px;
    border-image: linear-gradient( #FFFFFF, black) 30;
    width: 300px;
    height: 220px;
    position: relative;
}
.info__image:hover+ .orange_block{
    display: block;
}
.info__image:hover+ .orange_block_two{
    display: block;
}
.orange_block_two{
    display: none;
    bottom: 58px;
    position: absolute;
    width: 306px;
    height: 57px;
    background-color: #F26522;
}
.orange_block{
    position: absolute;
    display: none;
    top: 165px;
    width: 306px;
    height: 60px;
    background-color: #F26522;
}
.container{
    display: flex;
    justify-content: space-between;
}
.info__text{
    color: #FFFFFF;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 10px;
    margin-top: 5px;
    margin-left: 20px;
}
.info{
    margin-left: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}
.info_text {
    margin-right: 40px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}
.info_text:after{
    content: ">";
    color: #FFFFFF;
    margin-left: 20px;
}
.info__link{
    text-decoration: none;
}



